@import "../abstracts/mixins";
@import "../abstracts/variables";

.card {
  display: block;
  background: #FFFFFF;
  padding: 1rem;
  @include shadow(1);
}

.card--hoverable {
  transition: all 250ms;
  &:hover, &:focus {
    @include shadow(3);
    transform: translateY(-5px);
  }
  &:active {
    @include shadow(2);
    transform: translateY(-2px);
  }
}

.card--top-border {
  border-top: 6px solid $brand-primary;
}